<footer class="mt-auto min-vh-100">
  <div class="container">
    <div class="row">
      YAAM is built and maintained by Jared Bloomer, KW4JLB
    </div>
    <div class="row">
      For more information on AllStarLink please visit <a href="https://www.allstarlink.org" target="_blank"><img src="images/allstar-logo-small.png"></a>
    </div>
  </div>
  </footer>