<!DOCTYPE html>
<html>
  <head>
    <%- include('./_header'); %>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('./_nav'); %>
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg">
                <section>
                    <h2>Here is the body</h2>
                    <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam,
                    repellendus!
                    </p>
                </section>
            </div>
      </div>
      <div class="row">
        <div class="col-lg">
            <%- include('./_footer'); %>
        </div>
      </div>
    </div>
  </body>
</html>